<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <div class="panel inventory-panel">
      <p class="panel-heading">Inventory</p>

      <div class="panel-block">
        <p class="column is-two-thirds control">
          <input class="input" type="text" placeholder="Search" />
        </p>
        <p class="column control">
          <button class="button is-primary" style="margin: 0 auto">
            New Inventory Item +
          </button>
        </p>
      </div>

      <div class="panel-block">
        <p class="column text-align-center">Category</p>
        <p class="column text-align-center">Sku</p>
        <p class="column text-align-center">Quanity</p>
      </div>
    </div>
  </body>
</html>
