<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <div class="modal" id="new-category-modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <form class="box form-box">
          <img
            class="logo_img"
            draggable="false"
            src="/stocky_logo.svg"
            alt=""
          />
          <h1 class="title is-2">
            New <strong class="stocky-yellow">Category</strong>
          </h1>

          <div class="field">
            <label class="label">Category Title</label>
            <div class="control">
              <input
                class="input"
                type="text"
                placeholder="Category Title"
                name="title"
              />
            </div>
          </div>

          <button type="submit" class="button is-primary">Add Category</button>
        </form>
      </div>
      <button
        class="modal-close is-large"
        id="new-category-modal-close"
        aria-label="close"
      ></button>
    </div>
    <div class="main center-content">
      <form class="box form-box">
        <img class="logo_img" draggable="false" src="/stocky_logo.svg" alt="" />
        <h1 class="title is-2">
          New <strong class="stocky-yellow">Inventory</strong>
        </h1>

        <div class="field">
          <label class="label">Item Category</label>
          <div class="select">
            <select name="category" class="category">
              <option value="">Select Category</option>
              <option value="create-new-category">Create New Category +</option>
            </select>
          </div>
        </div>

        <div class="field">
          <label class="label">Item Title</label>
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="Item Title"
              name="title"
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Sku</label>
          <div class="control">
            <input class="input" type="text" placeholder="Sku" name="sku" />
          </div>
        </div>

        <div class="field">
          <label class="label">Part Number</label>
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="Part Number"
              name="partNumber"
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Cost</label>
          <div class="control">
            <input class="input" type="text" placeholder="Cost" name="cost" />
          </div>
        </div>

        <div class="field">
          <label class="label">Price</label>
          <div class="control">
            <input class="input" type="text" placeholder="Price" name="price" />
          </div>
        </div>

        <div class="field">
          <label class="label">Quanity</label>
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="Quanity"
              name="quanity"
            />
          </div>
        </div>

        <button type="submit" class="button is-primary">Add Inventory</button>
      </form>
    </div>
  </body>
</html>
